form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  height: 100px;
  background-color: rgba(119, 155, 187, 0.959);
  /* background: #fff; */
}
/* form input:focus {
  border: 2px solid green !important;
} */

form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
form button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(149, 198, 75);
}

.form-wrapper h1 {
  text-align: center;
  color: rgb(158, 81, 230);
}
